table, th, td {
  border: 1px solid blueviolet;
}

/* cell padding */
th, td { padding: 5px; }

/* cell spacing */
table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */
table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */

/* vertical align */
th, td { vertical-align: top; }

.header {
  padding: 60px;
  text-align: center;
  background: #b4c9b9;
  color: white;
  font-size: 30px;
}